

.navbar-fixed-top{border-bottom:4px solid black; }
.topnav{background:reen; width:100%;}
.lead {
    font-size: 18px;
    font-weight: 400;
}

.Home,.Academics,.StartYourOwnCompany,.Launch,.BusinessModelCompetition,.TedXWooster,.EntrepreneurialMedia {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    
	
	
}

.Home{ 
        background: url(../img/Fahim+peter.jpg) no-repeat center center;
    background-size: cover;
}
.Academics{
        background: url(../img/Lounge1pan.jpg) no-repeat center center;
    background-size: cover;
}

.Launch{
        background: url(../img/launch.jpg) no-repeat center center;
    background-size: cover;
}

.BusinessModelCompetition{
        background: url(../img/ideacompetition.jpg) no-repeat center center;
    background-size: cover;
}

.TedXWooster{
        background: url(../img/ted.jpg) no-repeat center center;
    background-size: cover;
}


.StartYourOwnCompany{
        background: url(../img/Lounge2.jpg) no-repeat center center;
    background-size: cover;
}

